.v-view {
    overflow: hidden !important;
}

/*******************************************************************************************************************************/
/*-----------------------------------------------------Left Column Design-----------------------------------------------------*/
/*****************************************************************************************************************************/

.v-view  .leftcolumn {
    height: 100%;
}

/*stretch buttons*/
.v-view .leftcolumn div {
    float: none !important;
}

.v-splitpanel-first-container {
    background: none repeat scroll 0 0 #EBEBEB;
}

.v-splitpanel-second-container {
    background: none repeat scroll 0 0 #f5f5f5;
}

.leftcolumn .v-nativebutton {
    background: none no-repeat scroll 12px 50% transparent;
    border: medium none;
    padding: 0 0 0 38px;
    text-align: left;
    text-shadow: none;
    height: 34px;
    vertical-align: middle;
    width: 100%;
    color: #5f5f5f;
    font-size: 14px;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #959595;
}

.leftcolumn .v-nativebutton .v-nativebutton-caption {
    line-height: 25px;
}

.leftcolumn .v-nativebutton-button {
    background-position: 17px 50%;
}

.leftcolumn .v-nativebutton-buttonSelect {
    background-color: #6093e0;
    background-position: 17px 50%;
    color: #FFFFFF;
}

/*******************************************************************************************************************************/
/*-----------------------------------------------------Right Column Design----------------------------------------------------*/
/*****************************************************************************************************************************/

.v-view .rightcolumn {
    margin: 0 !important;
    height: 100% !important;
}

.rightcolumn .head {
    color: #959595;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    height: 43px;
    line-height: 43px;
    padding: 5px 0 5px 23px;
    vertical-align: middle;
    border-bottom: 1px solid #959595;
}

.rightcolumn  .v-verticallayout-listViewLayout,
.rightcolumn  .v-horizontallayout-item {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #959595;
    color: #626262;
}

.rightcolumn  .v-verticallayout-listViewLayout button{
    border: medium none;
    margin: 3px;
}

.rightcolumn  .v-verticallayout-listViewLayout .v-nativebutton-avatarButtonSelect {
    background-image: url("../images/avatarButtonSelect.png");
    height: 27px;
    width: 27px;
}

.rightcolumn  .v-verticallayout-listViewLayout .v-nativebutton-avatarButtonNonSelect {
    background-image: url("../images/avatarButtonNonSelect.png");
    height: 27px;
    width: 27px;
}

.rightcolumn  .v-verticallayout-listViewLayout .v-nativebutton-nonAvatarButtonSelect {
    background-image: url("../images/avatarButtonSelect.png");
    height: 27px;
    width: 27px;
}

.rightcolumn  .v-verticallayout-listViewLayout .v-nativebutton-nonAvatarButtonNonSelect {
    background-image: url("../images/avatarButtonNonSelect.png");
    height: 27px;
    width: 27px;
}

.itemTimerTop {
    display: none;
}

.rightcolumn .v-horizontallayout-item .v-label-itemTimerTop,
.rightcolumn .v-horizontallayout-item .v-label-itemTimerBottom {
    background-color: #52CC00;
    color: white;
    border-radius: 3px;
    text-align: center;
    width: 40px !important;
}

.rightcolumn .v-horizontallayout-item .v-label-itemMessagesCounter {
    background-color: #7A7A7A;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 30px !important;
}

.rightcolumn .v-horizontallayout-item .v-label-callerName {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.rightcolumn .v-horizontallayout-item .v-label-callStatus {
    color: #707070;
    margin-right: 5px
}

.rightcolumn .categoryNLabelsStyle{
    margin: 5px 0;
}

/*.rightcolumn .itemStyle {*/
   /*margin: 0 0 0 23px;*/
/*}*/

/*-----------------------------------------------------Right Column Buttons----------------------------------------------------*/

.rightcolumn .v-horizontallayout-item .v-nativebutton {
    background: none no-repeat transparent;
    border: medium none;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    width: 100%;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
}

/*-----------------------------------------------------Right Column Notes Button----------------------------------------------------*/
.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonUp .v-button-caption,
.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonDown .v-button-caption {
    color: #707070;
}

.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonDown {
    background: transparent url("../images/notesDown.png") no-repeat 100% 50%;
    color: #707070;
    padding: 0;
    position: relative;
    right: 10px;
    width: 70px !important;
}

.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonUp {
    background: transparent url("../images/notesUp.png") no-repeat 100% 50%;
    color: #707070;
    padding: 0;
    position: relative;
    right: 10px;
    width: 70px !important;
}

/*-----------------------------------------------------Right Column AddCategoryButton----------------------------------------------------*/
.rightcolumn .v-horizontallayout-item .v-nativebutton-itemAddCategoryButton {
    background-image: url("../images/addCategory.png");
    height: 18px;
    width: 18px;
}

.rightcolumn .v-horizontallayout-item .v-label-categoriesAndLabelsCaption {
    color: #707070;
    margin-right: 5px
}

.rightcolumn .v-horizontallayout-item .v-label-category {
    color: #3269bb;
    margin-right: 5px
}

.rightcolumn .v-verticallayout-chat {
    background-color: #E8E6E6;
    padding: 5px 0;
    margin: 10px 0;
}


.rightcolumn .v-verticallayout-note{
    margin: 0 10px 10px;
}

.rightcolumn .itemTextAreaNote{
    margin: 0 10px;
}

.rightcolumn .v-label-wordSeparator {
    margin-right: 7px;
}

/*-----------------------------------------------------Right Column Note Buttons----------------------------------------------------*/
.rightcolumn .v-verticallayout-note .v-nativebutton-editNoteButton {
    background-image: url("../images/noteEdit.png");
    height: 18px;
    width: 18px;
    margin: 0 3px;
}

.rightcolumn .v-verticallayout-note .v-nativebutton-removeNoteButton {
    background-image: url("../images/noteRemove.png");
    height: 18px;
    width: 18px;
    margin: 0 3px;
}

.rightcolumn .v-verticallayout-note .v-horizontallayout-noteInfo {
    color: #707070;
}

.rightcolumn .v-verticallayout-note .v-label-message {
    color: #000000;
}

.rightcolumn .v-verticallayout-chat .v-nativebutton-itemAddNoteButton {
    background-image: url("../images/addNote.png");
    color: white;
    height: 26px;
    width: 79px;
    margin-right: 10px;
}

.rightcolumn .v-verticallayout-availableLabels .v-nativebutton-categoryButtonSelect {
    background: none #6093e0;
    box-shadow: 3px 3px #707070;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top: 0;
    color: white;
}

.rightcolumn .v-verticallayout-availableLabels .v-nativebutton-categoryButtonUnSelect {
    background: none #ffffff;
    box-shadow: 3px 3px #707070;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    height: 20px;
    padding-bottom: 0;
    padding-top: 0;

    color: #707070;
}

.rightcolumn .v-verticallayout-availableLabels .v-nativebutton-caption {
    text-shadow: none;
    vertical-align: middle;
}



.rightcolumn .v-horizontallayout-categoryFilterLayout{
    margin: 10px 10px 0;
}
