.v-view {
    overflow: hidden !important;
}

/*******************************************************************************************************************************/
/*-----------------------------------------------------Left Column Design-----------------------------------------------------*/
/*****************************************************************************************************************************/

.v-view  .leftcolumn {
    height: 100%;
}

/*stretch buttons*/
.v-view .leftcolumn div {
    float: none !important;
}

.v-splitpanel-first-container {
    background: none repeat scroll 0 0 #EBEBEB;
}

.v-splitpanel-second-container {
    background: none repeat scroll 0 0 #f5f5f5;
}

.leftcolumn .v-nativebutton {
    background: none no-repeat scroll 12px 50% transparent;
    border: medium none;
    padding: 0 0 0 38px;
    text-align: left;
    text-shadow: none;
    height: 34px;
    vertical-align: middle;
    width: 100%;
    color: #5f5f5f;
    font-size: 14px;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    font-family: Verdana;
    border-bottom: 1px solid #959595;
}

.leftcolumn .v-nativebutton .v-nativebutton-caption {
    line-height: 25px;
}

.leftcolumn .v-nativebutton-button {
    background-position: 17px 50%;
}

.leftcolumn .v-nativebutton-buttonSelect {
    background-color: #6093e0;
    background-position: 17px 50%;
    color: #FFFFFF;
}

/*******************************************************************************************************************************/
/*-----------------------------------------------------Right Column Design----------------------------------------------------*/
/*****************************************************************************************************************************/

.v-view .rightcolumn {
    margin: 0 !important;
    height: 100% !important;
}

.rightcolumn .head {
    color: #959595;
    font-family: Verdana;
    font-size: 20px;
    height: 43px;
    line-height: 43px;
    padding-left: 26px;
    vertical-align: middle;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #959595;
}

.rightcolumn  .v-verticallayout-listViewLayout,
.rightcolumn  .v-horizontallayout-item {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #959595;
}

.rightcolumn  .v-verticallayout-listViewLayout    .v-nativebutton-avatarButtonSelect {
    background-image: url("../images/avatarButtonSelect.PNG");
    height: 18px;
    width: 18px;
}

.rightcolumn  .v-verticallayout-listViewLayout    .v-nativebutton-avatarButtonNonSelect {
    background-image: url("../images/avatarButtonNonSelect.PNG");
    height: 18px;
    width: 18px;
}

.rightcolumn  .v-verticallayout-listViewLayout    .v-nativebutton-nonAvatarButtonSelect {
    background-image: url("../images/nonAvatarButtonSelect.PNG");
    height: 18px;
    width: 18px;
}

.rightcolumn  .v-verticallayout-listViewLayout    .v-nativebutton-nonAvatarButtonNonSelect {
    background-image: url("../images/nonAvatarButtonNonSelect.PNG");
    height: 18px;
    width: 18px;
}

.itemTimerTop {
    display: none;
}

.rightcolumn .v-horizontallayout-item .v-label-itemTimerTop,
.rightcolumn .v-horizontallayout-item .v-label-itemTimerBottom {
    background-color: #52CC00;
    color: white;
    border-radius: 3px;
    text-align: center;
    width: 40px !important;
}

.rightcolumn .v-horizontallayout-item .v-label-itemMessagesCounter {
    background-color: #7A7A7A;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 30px !important;
}

.rightcolumn .v-horizontallayout-item .v-label-callerName {
    font-weight: bold;
    margin-right: 5px
}

.rightcolumn .v-horizontallayout-item .v-label-callStatus {
    color: #707070;
    margin-right: 5px
}

/*-----------------------------------------------------Right Column Buttons----------------------------------------------------*/

.rightcolumn .v-horizontallayout-item .v-nativebutton {
    background: none no-repeat transparent;
    border: medium none;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    width: 100%;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
}

/*-----------------------------------------------------Right Column Notes Button----------------------------------------------------*/
.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonUp .v-button-caption,
.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonDown .v-button-caption {
    color: #707070;
}

.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonDown {
    background-image: url("../images/notesDown.png");
    background-position: 100% 50%;
    padding-right: 16px;
    color: #707070;
    width: 70px !important;
}

.rightcolumn .v-horizontallayout-item .v-nativebutton-itemHideChatButtonUp {
    background-image: url("../images/notesUp.png");
    background-position: 100% 50%;
    padding-right: 16px;
    color: #707070;
    width: 70px !important;
}

/*-----------------------------------------------------Right Column AddCategoryButton----------------------------------------------------*/
.rightcolumn .v-horizontallayout-item .v-nativebutton-itemAddCategoryButton {
    background-image: url("../images/addCategory.png");
    height: 18px;
    width: 18px;
}

.rightcolumn .v-horizontallayout-item .v-label-categoriesAndLabelsCaption {
    color: #707070;
    margin-right: 5px
}

.rightcolumn .v-horizontallayout-item .v-label-category {
    color: #6093e0;
    margin-right: 5px
}

.rightcolumn .v-verticallayout-chat {
    background-color: #E8E6E6;
    padding-left: 30px;
}

.rightcolumn .v-verticallayout-chat .v-verticallayout-note {
    margin-top: 20px;
}

.rightcolumn .v-label-wordSeparator {
    margin-right: 7px;
}

/*-----------------------------------------------------Right Column Note Buttons----------------------------------------------------*/
.rightcolumn .v-verticallayout-note .v-nativebutton-editNoteButton {
    background-image: url("../images/noteEdit.png");
    height: 18px;
    width: 18px;
}

.rightcolumn .v-verticallayout-note .v-nativebutton-removeNoteButton {
    background-image: url("../images/noteRemove.png");
    height: 18px;
    width: 18px;
}

.rightcolumn .v-verticallayout-note .v-horizontallayout-noteInfo {
    font-size: 18;
    color: #707070;
}

.rightcolumn .v-verticallayout-note .v-label-message {
    color: #000000;
}

.rightcolumn .v-verticallayout-chat .v-nativebutton-itemAddNoteButton {
    background-image: url("../images/addNote.png");
    color: white;
}

.rightcolumn .v-verticallayout-availableLabels .v-nativebutton-categoryButtonSelect {
    background: none no-repeat transparent;
    background-color: #6093e0;
    box-shadow: 3px 3px #707070;
    border: 1px;
    border-color: #000000;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top: 0;

    color: white;
}

.rightcolumn .v-verticallayout-availableLabels .v-nativebutton-categoryButtonUnSelect {
    background: none no-repeat transparent;
    background-color: #ffffff;
    box-shadow: 3px 3px #707070;
    border: 1px;
    border-color: #000000;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    height: 20px;
    padding-bottom: 0;
    padding-top: 0;

    color: #707070;
}

.rightcolumn .v-verticallayout-availableLabels .v-nativebutton-caption {
    text-shadow: none;
    vertical-align: middle;
}



