<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringBeanNameConventionInspection, AutowiredDependenciesInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="no">

    <context:annotation-config />

    <context:property-placeholder location="classpath:/spring/*.properties"/>

    <bean name="objectMapper" class="org.codehaus.jackson.map.ObjectMapper"/>

    <!--<bean name="serializeService" class="com.aimprosoft.wavilon.service.impl.JacksonSerializeService">-->
        <!--<property name="objectWriter">-->
            <!--<bean factory-bean="objectMapper" factory-method="writer"/>-->
        <!--</property>-->
    <!--</bean>-->

    <bean name="functions" class="com.aimprosoft.wavilon.config.Functions"/>

    <bean name="urlEncoder" class="org.apache.catalina.util.URLEncoder"/>

</beans>