<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringBeanNameConventionInspection, AutowiredDependenciesInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="no">

    <bean id="pushtestDatabaseConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="pushtest"/>
        <constructor-arg>
            <bean id="couchDbInstance" class="org.ektorp.impl.StdCouchDbInstance">
                <constructor-arg>
                    <bean class="org.ektorp.spring.HttpClientFactoryBean">
                        <property name="url" value="http://${db.host}:${db.port}"/>
                        <property name="connectionTimeout" value="15000"/>
                        <property name="maxConnections" value="100"/>
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>


    <context:component-scan base-package="com.aimprosoft.wavilon.service.impl"/>
</beans>