.v-view {
    overflow: hidden !important;
}

.wrapperLayouts {
    font-family: Verdana, Arial, sans-serif;

}

.v-view .leftcolumn .v-nativebutton {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    line-height: 19px;
    padding: 8px 10px;
    text-align: left;
    text-shadow: none;
    font-weight: bold;
    width: 100%;
    display: block;
    color:#686868;
    font-size: 13px;
}

.v-view .leftcolumn .v-nativebutton-active {
    background: none repeat scroll 0 0 #6093e0;
    color: #FFFFFF;
    border-radius: 0;
    display: block;
}

.v-view  .leftcolumn {
    height: 100%;
    padding: 20px 0;
}

.v-view .leftcolumn div{
    float: none !important;
}

.v-view .gridLayout .v-splitpanel-first-container{
    background: none repeat scroll 0 0 #ebebeb;
}

.v-view .rightcolumn{
    background: #f5f5f5;
    display: block;
    height: 100% !important;
    position: relative;
}

.v-view .rightcolumn .phoneHeader{
    background: url("../images/phone.png") no-repeat scroll 0 50% transparent;
    padding: 0 30px;
}
.v-view .rightcolumn .recordingsHeader{
    background: url("../images/recordings.png") no-repeat scroll 0 50% transparent;
    padding: 0 45px;
}
.v-view .rightcolumn .extensionHeader{
    background: url("../images/extensions.png") no-repeat scroll 0 50% transparent;
    padding: 0 58px;
}
.v-view .rightcolumn .virtualHeader{
    background: url("../images/virtual.png") no-repeat scroll 0 50% transparent;
    padding: 0 30px;
}
.v-view .rightcolumn .agentHeader{
    background: url("../images/agents.png") no-repeat scroll 0 50% transparent;
    padding: 0 45px;
}

.v-view .rightcolumn .tableHeader{
    color: #282828;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    height: 41px;
    line-height: 41px;
}


.headLine {
    /*margin: 15px 0;*/
    margin: 5px 0;
}

.headLine .v-button .v-button-wrap,
.headLine .v-button:active .v-button-wrap,
.headLine .v-button.v-pressed .v-button-wrap,
.headLine .v-button:focus .v-button-wrap{
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    height: 22px;
    line-height: 18px;
    padding: 0;
    width: 21px;
}

.headLine .v-button,
.headLine .v-button:active,
.headLine .v-button.v-pressed,
.headLine .v-button:focus {
    background: none transparent;
    margin: 5px 5px 0;
}

.headLine .v-button-caption {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px 0 #000;
}

.queuesPanel .v-nativebutton,
.queuesPanel .v-nativebutton:active,
.queuesPanel .v-nativebutton.v-pressed,
.queuesPanel .v-nativebutton:focus{
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    height: 22px;
    line-height: 18px;
    padding: 0;
    width: 21px;
    border: medium none;
    margin-top: 14px;
    margin-left: 14px;
}

.queuesPanel .v-nativebutton-caption {
    color: #FFFFFF !important;
    font-family: serif !important;
    font-weight: bold;
    text-shadow: 0 1px 0 #000000;
    vertical-align: middle;
}


.v-table .v-selected, .black .v-table .v-selected {
    background: none repeat scroll 0 0 #6093e0 !important;
    color: #FFFFFF;
    text-shadow: none !important;
}

.v-table-resizer {
    background: url("../images/resizer-bg.png") repeat-y scroll 100% 50% transparent;
    height: 36px;
    width: 4px;
}

.v-table-header-wrap {
    background: url("../images/table-header-bg.png") repeat-x scroll 0 0 transparent !important;
    height: 16px !important;
    position: relative !important;
}

.v-table-header {
    height: 36px !important;
}

.v-table-row-odd {
    background: none repeat scroll 0 0 #F1F5FA !important;
}

.v-table-caption-container {
    color: #393A3C;
    font-size: 15px;
    margin-left: 4px;
    padding: 1px 2px 9px 0 !important;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
}

.v-table-caption-container {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding-top: 1px;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
    text-transform: capitalize;
}

.v-formlayout-captioncell,
.v-formlayout-errorcell,
.v-formlayout-contentcell {
    padding-bottom: 3px !important;
    padding-top: 0 !important;
}

.v-table-cell-wrapper {
    line-height: 23px;
    overflow: hidden;
    padding: 3px 0 0;
    white-space: nowrap;
    width: 100% !important;
}

.singInPanel{
    background: none repeat scroll 0 0 #939394;
    font-weight: bold;
    padding: 5px;
}

.singInPanel a{
    color: #fff;
}
.singInPanel .v-label{
    margin: 0;
}


.settingsPanel > div {
    margin: 0 !important;
}


/*----------------------Form Design--------------------------*/
.formRegion .headerForm{
    border-bottom: 1px solid #000000;
    display: block;
    font-weight: bold;
    line-height: 23px;
    width: 380px;
}

.formRegion .headerForm fieldset *{
    vertical-align: middle;
}

.formRegion .v-caption-labelField{

}
.formRegion .v-form-labelField{
    margin: 30px 0;
}

.wrapperLayouts, .settingsPanel{
    height: 100% !important;
}

.formRegion .buttonsPanel  {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.formRegion .v-button .v-button-wrap,
.formRegion .v-button:active .v-button-wrap,
.formRegion .v-button.v-pressed .v-button-wrap,
.formRegion .v-button:focus .v-button-wrap{
    background: url("../images/buttonbg2.png") no-repeat scroll 100% 0 transparent;
}

.formRegion .v-button,
.formRegion .v-button:active,
.formRegion .v-button.v-pressed,
.formRegion .v-button:focus {
    background: url("../images/buttonbg1.png") no-repeat scroll 0 0 transparent;
    padding: 0 0 0 5px;
}

.formRegion .v-button-caption {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 1px #ccc;
}

.formRegion .buttonsPanel  .v-button{
    margin: 0 0 0 5px;
}

.v-form-errormessage {
    color: red;
}

.v-window-outerheader {
    background: none repeat scroll 0 0 #878787 !important;
}

.v-window-wrap {
    border: 1px solid #707171 !important;
}

.v-window-header {
    color: #FFFFFF !important;
    font-family: Verdana !important;
    font-size: 12px !important;
    text-shadow: 0 0 0 #000000 !important;
}

.v-window-closebox {
    background: #878787 url(../images/close.png) no-repeat 0 0 !important;
}