.wrapperLayouts {
    font-family:  Verdana, Arial, sans-serif;
}

.v-label {
    color: #000;
    font-weight: bold;
    padding: 5px 0 3px 10px;
    margin: 10px 0 0;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
}

.v-view .leftcolumn .v-nativebutton {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    line-height: 19px;
    padding: 0 25px;
    text-align: left;
    text-shadow: none;
    font-style: italic;
    width: 100%;
}

.v-view .leftcolumn .v-nativebutton-active {
    /*background: url("../images/selected-bg.png") repeat-x scroll 0 0 transparent;*/
    background:none repeat scroll 0 0 #6093E0;
    color: #FFFFFF;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px 0 #384359;*/
    border-radius: 0;
    font-style: normal;
    display: block;
}

.v-view .leftcolumn .label.v-nativebutton-active{
    background:none transparent;
     color: #000;
}

.v-view .leftcolumn {
    background: none repeat scroll 0 0 #ebebeb;
    height: 400px;
}

.v-table .v-selected, .black .v-table .v-selected {
    background: none repeat scroll 0 0 #3D80DF !important;
    color: #FFFFFF;
    text-shadow: none !important;
}

.v-table-resizer {
    background: url("../images/resizer-bg.png") repeat-y scroll 100% 50% transparent;
    height: 36px;
    width: 4px;
}

.v-table-header-wrap {
    background: url("../images/table-header-bg.png") repeat-x scroll 0 0 transparent !important;
    height: 16px !important;
    position: relative !important;
}

.v-table-header {
    height: 36px !important;
}

.v-table-row-odd {
    background: none repeat scroll 0 0 #F1F5FA !important;
}

.v-table-caption-container {
    color: #393A3C;
    font-size: 15px;
    margin-left: 4px;
    padding: 1px 2px 9px 0 !important;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
}

.v-table-caption-container {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding-top: 1px;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
    text-transform: capitalize;
}

.v-formlayout-captioncell,
.v-formlayout-errorcell,
.v-formlayout-contentcell {
    padding-bottom: 3px !important;
    padding-top: 0 !important;
}

.v-table-cell-wrapper {
    line-height: 23px;
    overflow: hidden;
    padding: 3px 0 0;
    white-space: nowrap;
}

.v-view .leftcolumn .v-nativebutton-label {
    font-family: Verdana,  Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 0 7px;
}



.singInPanel{
    background: none repeat scroll 0 0 #939394;
}

.singInPanel a{
    color: #fff;
}
.singInPanel .v-label{
    margin: 0;
}

.settings{
    height: 400px !important;
}

.settings > div {
    margin: 0 !important;
}

.leftcolumn div{
    height: auto !important;
    float: none !important;
}
