/*.v-view {*/
/*overflow: hidden !important;*/
/*}*/

/*.wrapperLayouts {*/
/*font-family: Verdana, Arial, sans-serif;*/

/*}*/

/*******************************************************************************************************************************/
/*-----------------------------------------------------Left Column Design-----------------------------------------------------*/
/*****************************************************************************************************************************/

.v-view  .leftcolumn {
    height: 100%;
}

/*stretch buttons*/
.v-view .leftcolumn div {
    float: none !important;
}

.leftcolumn .v-nativebutton {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    line-height: 19px;
    padding: 8px 10px;
    text-align: left;
    text-shadow: none;
    font-weight: bold;
    height: 30px;
    width: 100%;
    display: block;
    color: #686868;
    font-size: 13px;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    border-bottom: 1px solid #999999;
}

.leftcolumn .v-nativebutton-phoneNumbersButton {
    background: url("../images/phoneNumber.PNG") no-repeat scroll 10px 50% transparent;
    padding: 0 30px;
}

.leftcolumn .v-nativebutton-phoneNumbersButtonSelect {
    background-image: url("../images/phoneNumberSelect.PNG");
}

.leftcolumn .v-nativebutton-virtualNumbersButton {
    background: url("../images/virtualNumber.PNG") no-repeat scroll 10px 50% transparent;
    padding: 0 30px;
}

.leftcolumn .v-nativebutton-virtualNumbersButtonSelect {
    background-image: url("../images/virtualNumberSelect.png");
}

.leftcolumn .v-nativebutton-queuesButton {
    background: url("../images/queue.png") no-repeat scroll 10px 50% transparent;
    padding: 0 30px;
}

.leftcolumn .v-nativebutton-queuesButtonSelect {
    background-image: url("../images/queueSelect.PNG");
}

.leftcolumn .v-nativebutton-agentsButton {
    background: url("../images/agent.PNG") no-repeat scroll 10px 50% transparent;
    padding: 0 30px;
}

.leftcolumn .v-nativebutton-agentsButtonSelect {
    background-image: url("../images/agentSelect.PNG");
}

.leftcolumn .v-nativebutton-extensionsButton {
    background: url("../images/extension.PNG") no-repeat scroll 10px 50% transparent;
    padding: 0 30px;
}

.leftcolumn .v-nativebutton-extensionsButtonSelect {
    background-image: url("../images/extensionSelect.png");
}

.leftcolumn .v-nativebutton-recordingsButton {
    background: url("../images/recording.png") no-repeat scroll 10px 50% transparent;
    padding: 0 30px;
}

.leftcolumn .v-nativebutton-recordingsButtonSelect {
    background-image: url("../images/recordingSelect.png");
}

.leftcolumn .v-nativebutton-phoneNumbersButtonSelect,
.leftcolumn .v-nativebutton-virtualNumbersButtonSelect,
.leftcolumn .v-nativebutton-queuesButtonSelect,
.leftcolumn .v-nativebutton-agentsButtonSelect,
.leftcolumn .v-nativebutton-extensionsButtonSelect,
.leftcolumn .v-nativebutton-recordingsButtonSelect {
    background-color: #6093e0;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 0 30px;
    color: #FFFFFF;
    display: block;
}

/*******************************************************************************************************************************/
/*-----------------------------------------------------Right Column Design----------------------------------------------------*/
/*****************************************************************************************************************************/

.v-view .rightcolumn {
    margin: 0 !important;
    /**/
    /*background: #f5f5f5;*/
    /*display: block;*/
    height: 100% !important;
    /*position: relative;*/
}

.rightcolumn .head {

}

.rightcolumn .head .label {
    color: #959595;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    height: 41px;
    line-height: 41px;
    padding-left: 30px
}

/*---------------------------------------------Right Column Design   ["Add" button]----------------------------------------------------*/
.rightcolumn .head .v-button,
.rightcolumn .head .v-button:active,
.rightcolumn .head .v-button.v-pressed,
.rightcolumn .head .v-button:focus {
    background: none transparent;
    margin: 5px 5px 0;
}

.rightcolumn .head .v-button .v-button-wrap,
.rightcolumn .head .v-button:active .v-button-wrap,
.rightcolumn .head .v-button.v-pressed .v-button-wrap,
.rightcolumn .head .v-button:focus .v-button-wrap {
    background: url("../images/AddButton.PNG") no-repeat scroll 0 0 transparent;
    line-height: 27px;
    padding: 0;
    height: 26px;
    width: 120px;
}

/*---------------------------------------------Right Column Design   [table]----------------------------------------------------*/

.rightcolumn .v-table {
    overflow-x: auto !important;
}

.rightcolumn .v-table-row-odd {
    background: none repeat scroll 0 0 #F1F5FA !important;
}

.rightcolumn .v-table-header-wrap {
    background: url("../images/table-header-bg.png") repeat-x scroll 0 0 transparent !important;
    height: 16px !important;
    position: relative !important;
}

.rightcolumn .v-table-resizer {
    visibility: hidden;
}

.rightcolumn .v-table .v-table-cell-content {
    border: medium none;
}

.rightcolumn .v-table .v-selected {
    background: none repeat scroll 0 0 #6093e0 !important;
    color: #FFFFFF;
    text-shadow: none !important;
}

.v-table-cell-wrapper {
    width: 100% !important;
}

.rightcolumn .v-table-tableCustom {
    height: 509px;
    width: 100%;
}

/*---------------------------------------------Right Column Design   ["Remove" button]----------------------------------------------------*/
.rightcolumn .v-table-row .v-button,
.rightcolumn .v-table-row-odd .v-button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 20px;
    width: 20px;
}

.rightcolumn .v-table-row .v-button .v-button-wrap,
.rightcolumn .v-table-row .v-button:active .v-button-wrap,
.rightcolumn .v-table-row .v-button.v-pressed .v-button-wrap,
.rightcolumn .v-table-row .v-button:focus .v-button-wrap,
.rightcolumn .v-table-row-odd .v-button .v-button-wrap,
.rightcolumn .v-table-row-odd .v-button:active .v-button-wrap,
.rightcolumn .v-table-row-odd .v-button.v-pressed .v-button-wrap,
.rightcolumn .v-table-row-odd .v-button:focus .v-button-wrap {
    background: url("../images/removeButton.png") no-repeat scroll 0 50% transparent;
    padding: 0;
    height: 18px;
    width: 18px;
}

.rightcolumn .v-table .v-selected  .v-button .v-button-wrap,
.rightcolumn .v-table .v-selected  .v-button:active .v-button-wrap,
.rightcolumn .v-table .v-selected  .v-button.v-pressed .v-button-wrap,
.rightcolumn .v-table .v-selected  .v-button:focus .v-button-wrap {
    background: url("../images/removeButtonSelect.PNG") no-repeat scroll 0 50% transparent;
    padding: 0;
    height: 18px;
    width: 18px;
}

/*********************************************************************/
/*.v-table-header {*/
/*height: 36px !important;*/
/*}*/

/*.v-table-caption-container {*/
/*color: #393A3C;*/
/*font-size: 15px;*/
/*margin-left: 4px;*/
/*padding: 1px 2px 9px 0 !important;*/
/*text-shadow: 0 1px 0 #FFFFFF;*/
/*}*/

/*.v-table-caption-container {*/
/*color: #000000;*/
/*font-size: 11px;*/
/*font-weight: bold;*/
/*padding-top: 1px;*/
/*text-shadow: 0 1px 0 #FFFFFF;*/
/*text-transform: capitalize;*/
/*}*/

/*.v-formlayout-captioncell,*/
/*.v-formlayout-errorcell,*/
/*.v-formlayout-contentcell {*/
/*padding-bottom: 3px !important;*/
/*padding-top: 0 !important;*/
/*}*/

/*.v-table-cell-wrapper {*/
/*line-height: 23px;*/
/*overflow: hidden;*/
/*padding: 3px 0 0;*/
/*white-space: nowrap;*/
/*width: 100% !important;*/
/*}*/

.singInPanel {
    background: none repeat scroll 0 0 #939394;
    font-weight: bold;
    padding: 5px;
}

.singInPanel a {
    color: #fff;
}

.singInPanel .v-label {
    margin: 0;
}

.settingsPanel > div {
    margin: 0 !important;
}

/*----------------------Form Design--------------------------*/
.formRegion .headerForm {
    border-bottom: 1px solid #000000;
    display: block;
    font-weight: bold;
    line-height: 23px;
    width: 380px;
}

.formRegion .headerForm fieldset * {
    vertical-align: middle;
}

.formRegion .v-caption-labelField {

}

.formRegion .v-form-labelField {
    margin: 30px 0;
}

.wrapperLayouts, .settingsPanel {
    height: 100% !important;
}

.formRegion .buttonsPanel {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.formRegion .v-button .v-button-wrap,
.formRegion .v-button:active .v-button-wrap,
.formRegion .v-button.v-pressed .v-button-wrap,
.formRegion .v-button:focus .v-button-wrap {
    background: url("../images/buttonbg2.png") no-repeat scroll 100% 0 transparent;
}

.formRegion .v-button,
.formRegion .v-button:active,
.formRegion .v-button.v-pressed,
.formRegion .v-button:focus {
    background: url("../images/buttonbg1.png") no-repeat scroll 0 0 transparent;
    padding: 0 0 0 5px;
}

.formRegion .v-button-caption {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 1px #ccc;
}

.formRegion .buttonsPanel  .v-button {
    margin: 0 0 0 5px;
}

.v-form-errormessage {
    color: red;
}

.v-window-outerheader {
    background: none repeat scroll 0 0 #878787 !important;
}

.v-window-wrap {
    border: 1px solid #707171 !important;
}

.v-window-header {
    color: #FFFFFF !important;
    font-family: Verdana !important;
    font-size: 12px !important;
    text-shadow: 0 0 0 #000000 !important;
}

.v-window-closebox {
    background: #878787 url(../images/close.png) no-repeat 0 0 !important;
}